@font-face {
  font-family: "SUITE-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SUITE-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SUITE-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Heavy.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "SUITE-Regular";
  font-size: 1.6rem;
  color: #333;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font: inherit;
  border: none;
  border-radius: 0.5rem;
  background-color: black;
  color: white;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

button:hover {
  background-color: #303030;
}

input,
textarea,
select {
  font: inherit;
  outline: none;
  background-color: white;
  border: 0.1rem solid rgb(230, 230, 230);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}
